h1 {
  text-align: center;
  border: 5px solid black;
  background-color: rgba(0, 0, 128, 0.773);
}

table {
  background-color: rgb(241, 190, 128);
  border: 1px solid black;
  border-collapse: collapse;
  max-width: 800px;
  min-width: 400px;
  margin: auto;
}

th,
td {
  border: 1px solid black;
  padding: 0.5em;
}

.navigation {
  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  text-align: center;
  background-color: red;
  color: white;
  padding: 0.5em;
  text-decoration: none;
}

.narrow-form {
  border: 1px solid grey;
  max-width: 400px;
  margin: auto;
  padding: 2em;
}

.helptext {
  display: block;
  font-size: 80%;
}
