{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/todo.css' %}"/>
        <title>To Do List</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'todo_list_list' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'todo_list_create' %}">Create List</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'todo_item_create' %}">New Item</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'user_logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'user_signup' %}">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'user_login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>
